.idea
.vagrant
.bundle
/production
inventories/alpha
inventories/prod
inventories/scripts
playbook/group_vars/prod
core_openstack_internal_dev*
/openstack
/openstack.pub
playbook/openstack
playbook/openstack.pub
playbook/keystone.key
playbook/keystone.crt
*.vdi
*.pyc
/vagrant/packer-base-image/*.box
/vagrant/packer-base-image/packer_cache
alpha-keystone.crt
alpha-keystone.key
**/.*.swp
**/.*.swo
production-keystone.crt
production-keystone.key
.env/
oc-integration.yml
oc-integration-mon01.yml
ssl/
site.retry
