[Unit]
Description=The Etcd Server container
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f etcd
ExecStart=/usr/bin/docker run \
  --name etcd \
  --rm --net=host \
  -v /var/lib/etcd:/var/lib/etcd:z \
  -v /etc/etcd:/etc/etcd:z \
  --env-file=/etc/etcd/etcd.conf  \
  {{ etcd_image }}:{{ etcd_image_version }}

ExecStop=/usr/bin/docker stop etcd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
